.red{
    background-color: red;
    height: 100px;
}
.green{
    background-color: green;
    height:80%
}
.nomargins{
    padding:0;
    margin:0
}

.drum_pad{
    background-color: yellow;
    height: 100px;
}